
.loadingText:after {
    content: "Loading Profile...";
    animation: vanishText 0.5s ease-out 3s forwards;
}

.loadingSpinner {
    border: 5px solid #b4b4b4;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: rotation 1.5s linear 2;
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes vanishText {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}