
.windows {
    border: 1px solid black;
    left: 50%;
    width: max(65%,600px);
    height: 450px;
    position: absolute;
    background: rgba(var(--window-rgba));
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12.6px);
    -webkit-backdrop-filter: blur(12.6px);
    border: 1px solid rgba(229, 229, 229, 0.2);
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
  }
  
.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}


.windowBar {
  display: flex;
  justify-content: flex-end;
  margin: 10px 20px 0px 0px;
  gap: 10px;
}

.windowTitleText {
    font-size: 20px;
    font-weight: 600;
    color: rgb(var(--foreground-rgb));
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.windowTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px 5px 50px;
    font-weight: 600;
    color: grey;
    transform: translateY(-10px);
}

.windowSubTitle {
    align-items: center;
    color: grey;
}

.windowContent {
    margin: 20px 20px 20px 50px;
    font-size: 15px;
    color: #000;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    position: relative;
    height: 70%;
    justify-content: space-between;
}

.leftContent {
    width: 50%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 20px;
    flex: 1;
}

.description {
  height: 50%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.9px);
  -webkit-backdrop-filter: blur(13.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 15px;
  padding-top: 15px;
  display: flex;
  position: relative;
}

.techstackItem {
  width: fit-content;
  padding: 8px 5px;
  min-width: 80px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.9px);
  -webkit-backdrop-filter: blur(13.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
}

.techstack{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}