.contact{ 
    margin: 40px 30px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.contact::-webkit-scrollbar {
    display: none;
  }

.contactDetail{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.contactItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
}

.contactSection{
    overflow: hidden;
}