.navPage {
    display: inherit;
    justify-content: space-between;
    align-items: inherit;
    padding: 0.75rem 1.0rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(var(--callout-border-rgb), 0.3);
    z-index: 3;
  }