.gear {
    animation: rotate 2s ease-out 1;
    -webkit-animation: rotate 2s ease-out 1;
}

.gridOutlook {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25vh;
    width: 95%;
    gap: 5%;
}

.boxOutlook {
    display: flex;
    border-radius: 15px;
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 1);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(0.8);
    }
    100% {
        transform: rotate(3600deg) scale(1.5);
    }
    75% {
        transform: rotate(360deg) scale(1.2);
    }
    50% {
        transform: rotate(180deg) scale(1.1);
    }
    25% {
        transform: rotate(90deg) scale(1.05);
    }
    0% {
        transform: rotate(0deg) scale(1);
    }
}
